*__pycache__*
*.pytest_cache*
.coverage
*.code-workspace
*checkpoint.ipynb
.idea/
pylint-report.txt
*.log
*.pyc
temp.properties
coverage_html_report/
docs/schedule/~$cronograma.xlsx
*/internal/*
*old_*
*old*
*(copy)*
*train_data_juris_tcu_index.csv*
*train_data_juris_tcu_index_without_text.csv*
*train_data_juris_tcu_index_all_data.csv*
*train_data_juris_tcu_index_limit_100_per_doc.csv*
*train_data_juris_tcu_index_limit_50_per_doc*
*search_result_consolidated_juris_tcu.csv*
*search_experiment_result_juris_tcu.csv*
*model/train*
*last_ack*
*last_put*

