*__pycache__*
*.pytest_cache*
.coverage
*.code-workspace
*checkpoint.ipynb
.idea/
pylint-report.txt
*.log
*.pyc
temp.properties
coverage_html_report/
docs/schedule/~$cronograma.xlsx
*/internal/*
*old_*
*(copy)*
*train_data_juris_tcu_index_all_data.csv*
*train_data_juris_tcu_index_limit_100_per_doc.csv*